@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme */
    --gradient: linear-gradient(to top left, #799f0c, #acbb78);
    --background: 80 70% 98%;
    --foreground: 80 55.9% 2.72%;
    --muted: 80 43% 89.8%;
    --muted-foreground: 80 43% 46.6%;
    --popover: 80 47.8% 95.58%;
    --popover-foreground: 80 55.9% 2.72%;
    --card: 80 47.8% 95.58%;
    --card-foreground: 80 55.9% 2.72%;
    --border: 80 43% 89.8%;
    --input: 80 43% 89.8%;
    --primary: 80 86% 34%;
    --primary-foreground: 80 8.6% 96.7%;
    --secondary: 80 43% 89.8%;
    --secondary-foreground: 80 55.9% 2.72%;
    --accent: 80 43% 89.8%;
    --accent-foreground: 80 55.9% 2.72%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 80 86% 34%;
  }

  .dark {
    --gradient: linear-gradient(to top left, #799f0c, #acbb78);
    --background: 80 55.9% 2.72%;
    --foreground: 80 8.6% 96.7%;
    --muted: 80 43% 10.200000000000001%;
    --muted-foreground: 80 8.6% 53.4%;
    --popover: 80 47.8% 4.42%;
    --popover-foreground: 80 8.6% 96.7%;
    --card: 80 47.8% 4.42%;
    --card-foreground: 80 8.6% 96.7%;
    --border: 80 43% 10.200000000000001%;
    --input: 80 43% 10.200000000000001%;
    --primary: 80 86% 34%;
    --primary-foreground: 80 8.6% 96.7%;
    --secondary: 80 43% 10.200000000000001%;
    --secondary-foreground: 80 8.6% 96.7%;
    --accent: 80 43% 10.200000000000001%;
    --accent-foreground: 80 8.6% 96.7%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 80 8.6% 96.7%;
    --ring: 80 86% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
